Repository samuelgrf/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, nix-linter

nixfmt:
  name: nixfmt
  description: Format Nix code with nixfmt.
  entry: nix run nixpkgs#nixfmt
  language: system

nix-linter:
  name: nix-linter
  description: Analyze Nix code with nix-linter.
  entry: "nix shell nixpkgs#nix-linter --command\n  nix-linter -W BetaReduction -W EmptyVariadicParamSet -W UnneededAntiquote\n"
  language: system

nix-index-database: 2021-11-07 -> 2021-11-21
  overlays/nix-index-database/default.nix
Due: nixfmt, nix-linter

spacemacs: 2021-11-13 -> 2021-11-20
  overlays/spacemacs/default.nix
Due: nixfmt, nix-linter

overlays/spacemacs: Refactor
  overlays/spacemacs/default.nix
  overlays/spacemacs/update.sh
Due: nixfmt, nix-linter

nixos/terminal: Minor refactor
  config/nixos/terminal.nix
Due: nixfmt, nix-linter

overlays & machines: Fix Chromium EGL backend
  config/machines/amethyst/nixos.nix
  config/machines/beryl/nixos.nix
  overlays/default.nix
  overlays/mesa/default.nix
Due: nixfmt, nix-linter

flake.lock: Update
  flake.lock
Due: none

home/spacemacs: Remove redundant setting
  config/home/spacemacs/.spacemacs
Due: none

Revert "overlays/update: Parallelize"
  overlays/update.sh
Due: none

nix-index-database: 2021-11-21 -> 2021-11-28
  overlays/nix-index-database/default.nix
Due: nixfmt, nix-linter

spacemacs: 2021-11-20 -> 2021-11-28
  overlays/spacemacs/default.nix
Due: nixfmt, nix-linter

home/spacemacs: Improve activation time
  config/home/spacemacs/default.nix
Due: nixfmt, nix-linter

Revert "flake/nixos+: Add `backupFileExtension` to HM config"
  config/home/kde/locale.nix
  config/home/misc.nix
  flake/nixos.nix
Due: nixfmt, nix-linter

*: Replace spacemacs overlay with flake input
  config/home/spacemacs/default.nix
  flake.lock
  flake.nix
  overlays/default.nix
  overlays/spacemacs/default.nix
  overlays/spacemacs/update.sh
  overlays/update.sh
Due: nixfmt, nix-linter

Revert "home/spacemacs: Improve activation time"
  config/home/spacemacs/default.nix
Due: nixfmt, nix-linter

nixos/nix: Switch to Nix 2.4
  config/nixos/nix.nix
Due: nixfmt, nix-linter

nixos/packages: Fix system path collisions
  config/nixos/packages.nix
Due: nixfmt, nix-linter

flake: `release-21.11` -> `nixos-21.11`
  flake.lock
  flake.nix
Due: nixfmt

home/spacemacs: Enable Python layer
  config/home/spacemacs/.spacemacs
Due: none

nixos/packages: `nixpkgs-unstable` -> `nixpkgs`
  config/nixos/packages.nix
Due: nixfmt, nix-linter

nixos/packages: Add `hydra-check`
  config/nixos/packages.nix
Due: nixfmt, nix-linter

home/spacemacs: Seperate Emacs and system clipboard
  config/home/spacemacs/.spacemacs
Due: none

home/kde/hotkeys: Disable Klipper hotkey
  config/home/kde/hotkeys.nix
Due: nixfmt, nix-linter

overlays/hydra-check: Support checking `tested` job
  overlays/default.nix
  overlays/hydra-check/default.nix
  overlays/hydra-check/support-tested-job.patch
Due: nixfmt, nix-linter

home/kde/hotkeys: Fix `htop-vim` hotkey
  config/home/kde/hotkeys.nix
  config/shared/binpaths.nix
Due: nixfmt, nix-linter

home/spacemacs: Fix system clipboard copy & paste
  config/home/spacemacs/.spacemacs
Due: none

home/spacemacs: Copy & paste using `C-C` & `C-V`
  config/home/spacemacs/.spacemacs
Due: none

home/spacemacs: Add shortcut for cutting to clipboard
  config/home/spacemacs/.spacemacs
Due: none

home/spacemacs: Clean up whitespace automatically
  config/home/spacemacs/.spacemacs
Due: none

home/spacemacs: Manage clipboard with simpleclip
  config/home/spacemacs/.spacemacs
Due: none

nixos/packages: Add `wl-clipboard`
  config/nixos/packages.nix
Due: nixfmt, nix-linter

overlays & nixos/packages: Add `wl-clipboard-x11`
  config/nixos/packages.nix
  overlays/default.nix
  overlays/wl-clipboard-x11/default.nix
Due: nixfmt, nix-linter

shared/userdata: Fully remap Caps to Esc
  config/shared/userdata.nix
Due: nixfmt, nix-linter

home/kde/keyboard: Fix
  config/home/kde/keyboard.nix
Due: nixfmt, nix-linter

nixos/printing-scanning: Minor refactor
  config/nixos/printing-scanning.nix
Due: nixfmt, nix-linter

nixos/services: Get Emacs from stable nixpkgs
  config/nixos/services.nix
Due: nixfmt, nix-linter

Path conditions:
  nixfmt: any of: \.nix$, but not: (?x)^(
  machines/(HPx|R3600)/configuration.nix|
  machines/.*/hardware-generated.nix
)$

  nix-linter: any of: \.nix$, but not: (?x)^(
  flake.nix|
  machines/.*/hardware-generated.nix
)$

