Repository samuelgrf/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

  - id: nixfmt
    name: nixfmt
    description: Format Nix code with nixfmt.
    entry: nix run nixpkgs#nixfmt
    language: system
    files: \.nix$
    exclude: |
      (?x)^(
        machines/(HPx|R3600)/configuration.nix|
        machines/.*/hardware-generated.nix
      )$

  - id: nix-linter
    name: nix-linter
    description: Analyze Nix code with nix-linter.
    entry: >
      nix shell nixpkgs#nix-linter --command
        nix-linter -W BetaReduction -W EmptyVariadicParamSet -W UnneededAntiquote
    language: system
    files: \.nix$
    exclude: |
      (?x)^(
        flake.nix|
        machines/.*/hardware-generated.nix
      )$

flake.lock: Update
  flake.lock
Due: none

home*: Install prebuilt `nix-index` database
  flake.nix
  home/nix-index-database.nix
Due: nixfmt, nix-linter

terminal: Run missing commands in Nix shell
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Wrap paths in quotes
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Refactor `nr` alias
  main/terminal.nix
Due: nixfmt, nix-linter

terminal*: Improve `nru*` aliases
  main/binpaths.nix
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Refactor `rldh` alias
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Rename `nru*` functions to `nrn*`
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Improve aliases for updating flakes
  main/terminal.nix
Due: nixfmt, nix-linter

flake: Refactor
  flake.nix
Due: nixfmt

repl: Refactor
  repl.nix
Due: nixfmt, nix-linter

packages: Add `ktimer`
  main/packages.nix
Due: nixfmt, nix-linter

kde/power-management: Refactor
  home/kde/power-management.nix
Due: nixfmt, nix-linter

flake: Small refactor
  flake.nix
Due: nixfmt

repl: Small refactor
  repl.nix
Due: nixfmt, nix-linter

terminal: Improve error handling in `nr` function
  main/terminal.nix
Due: nixfmt, nix-linter

terminal: Refactor aliases
  main/terminal.nix
Due: nixfmt, nix-linter

home/nix-index-database: 2021-07-11 -> 2021-07-18
  home/nix-index-database.nix
Due: nixfmt, nix-linter

*: Build Linux with LTO and platform optimizations
  flake.nix
  machines/amethyst/configuration.nix
  machines/beryl/configuration.nix
  main/kernel.nix
  overlays/default.nix
  overlays/linuxLTOPackages/default.nix
  overlays/linux_zen/default.nix
Due: nixfmt, nix-linter

packages: Add `calibre`
  main/packages.nix
Due: nixfmt, nix-linter

home/nix-index-database: 2021-07-18 -> 2021-07-25
  home/nix-index-database.nix
Due: nixfmt, nix-linter

home/nix-index-database*: Add update script
  flake.nix
  home/nix-index-database.nix
  home/nix-index-database/default.nix
  home/nix-index-database/source.nix
  home/nix-index-database/update.sh
Due: nixfmt, nix-linter

chromium: Remove `Auto History Wipe` extension
  main/chromium.nix
Due: nixfmt, nix-linter

home/nix-index-database: Improve update script
  home/nix-index-database/update.sh
Due: none

flake: Comply with flake schema
  flake.nix
Due: nixfmt

home/nix-index-database: 2021-07-25 -> 2021-08-01
  home/nix-index-database/source.nix
Due: nixfmt, nix-linter

Revert "flake.lock: Update"
  flake.lock
Due: none

general: Add German keyboard layout
  main/general.nix
Due: nixfmt, nix-linter

flake: Add GC root for pre-commit configuration
  flake.nix
Due: nixfmt

terminal: Refactor
  main/terminal.nix
Due: nixfmt, nix-linter

packages: Add `multimc`
  main/packages.nix
Due: nixfmt, nix-linter

home/kde: Add hotkey for switching keyboard layout
  home/kde/hotkeys.nix
Due: nixfmt, nix-linter

repl: Fix pure evaluation
  repl.nix
Due: nixfmt, nix-linter

overlays*: Remove redundant overlays
  flake.nix
  overlays/default.nix
  overlays/kjv/default.nix
  overlays/nixos-rebuild/default.nix
Due: nixfmt, nix-linter

packages: Add `graalvm11-ce`
  main/packages.nix
Due: nixfmt, nix-linter

flake: Add flakes to `NIX_PATH` environment variable
  flake.nix
Due: nixfmt
