Repository samuelgrf/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, nix-linter

nixfmt:
  name: nixfmt
  description: Format Nix code with nixfmt.
  entry: nix run nixpkgs#nixfmt
  language: system

nix-linter:
  name: nix-linter
  description: Analyze Nix code with nix-linter.
  entry: "nix shell nixpkgs#nix-linter --command\n  nix-linter -W BetaReduction -W EmptyVariadicParamSet -W UnneededAntiquote\n"
  language: system

flake: Small refactor
  flake.nix
Due: nixfmt

overlays: Apply to all linuxPackages
  overlays/default.nix
  overlays/linuxPackages/default.nix
  overlays/linuxPackages/hid-playstation/default.nix
  overlays/linuxPackages_zen/default.nix
Due: nixfmt, nix-linter

flake.lock: Update
  flake.lock
Due: none

overlays/kwin: Refactor & Add version check
  overlays/kwin/default.nix
Due: nixfmt, nix-linter

HPx: Reenable WiFi adapter power management
  machines/HPx/configuration.nix
Due: nix-linter

home/kde: Activate Night Color based on location
  home/kde.nix
Due: nixfmt, nix-linter

flake: Remove `./` from paths where possible
  flake.nix
Due: nixfmt

Add Unlicense
  UNLICENSE
Due: none

overlays/mpv: Add playlistmanager script
  overlays/default.nix
  overlays/mpv/default.nix
  overlays/mpv/playlistmanager.nix
Due: nixfmt, nix-linter

packages: Get lutris from nixpkgs stable
  main/packages.nix
Due: nixfmt, nix-linter

kernel & machines: Get kernel from nixpkgs unstable
  machines/HPx/configuration.nix
  machines/R3600/configuration.nix
  main/kernel.nix
Due: nixfmt, nix-linter

kernel: Remove i2c-dev from kernelModules
  main/kernel.nix
Due: nixfmt, nix-linter

*: Update & Refactor ungoogled-chromium overlay
  flake.nix
  overlays/default.nix
  overlays/ungoogled-chromium/default.nix
Due: nixfmt, nix-linter

flake: Remove redundant config attribute
  flake.nix
Due: nixfmt

flake: Remove unneeded top-level argument
  flake.nix
Due: nixfmt

networking/chromium: Mention command line arguments
  main/networking.nix
Due: nixfmt, nix-linter

packages: Get lutris from unstable again
  main/packages.nix
Due: nixfmt, nix-linter

printing: Use IPP Everywhere instead of drivers
  main/packages.nix
  main/printing.nix
Due: nixfmt, nix-linter

printing: Add Brother HL-3140CW
  main/printing.nix
Due: nixfmt, nix-linter

terminal: Refactor Powerlevel10k configuration
  main/p10k.zsh
  main/terminal.nix
Due: nixfmt, nix-linter

home/kde: Reword comments
  home/kde.nix
Due: nixfmt, nix-linter

kernel: Don't change vm.swappiness
  main/kernel.nix
Due: nixfmt, nix-linter

*: `Set [...] configuration` -> `Configure [...]`
  home/git.nix
  home/kde.nix
  home/mpv.nix
  main/networking.nix
Due: nixfmt, nix-linter

packages: Add nix-tree
  main/packages.nix
Due: nixfmt, nix-linter

*: machines/{HPx -> amethyst}
  .pre-commit-config.yaml
  flake.nix
  home/kde.nix
  machines/amethyst/configuration.nix
  machines/amethyst/hardware-generated.nix
  machines/amethyst/home.nix
  overlays/ungoogled-chromium/default.nix
Due: nixfmt, nix-linter

*: machines/{R3600 -> beryl}
  .pre-commit-config.yaml
  flake.nix
  machines/beryl/configuration.nix
  machines/beryl/hardware-generated.nix
Due: nixfmt, nix-linter

terminal & packages: Add chromium-widevine alias
  main/packages.nix
  main/terminal.nix
Due: nixfmt, nix-linter

packages: Add master.tmpmail
  main/packages.nix
Due: nixfmt, nix-linter

home/default-applications: Overwrite existing file
  home/default-applications.nix
Due: nixfmt, nix-linter

terminal: Add ztrc alias
  main/terminal.nix
Due: nixfmt, nix-linter

terminal & lib: Refactor aliases
  lib/default.nix
  main/terminal.nix
Due: nixfmt, nix-linter

packages: Add nix-diff
  main/packages.nix
Due: nixfmt, nix-linter

misc: Show Proton builds in Lutris
  main/misc.nix
Due: nixfmt, nix-linter

packages: Get tmpmail from nixpkgs-unstable
  main/packages.nix
Due: nixfmt, nix-linter

printing: Refactor
  main/printing.nix
Due: nixfmt, nix-linter

Path conditions:
  nixfmt: any of: \.nix$, but not: (?x)^(
  machines/(HPx|R3600)/configuration.nix|
  machines/.*/hardware-generated.nix
)$

  nix-linter: any of: \.nix$, but not: (?x)^(
  flake.nix|
  machines/.*/hardware-generated.nix
)$

